pkgbase = psymp3
	pkgdesc = Cross-platform C++17 audio player with FFT visualization
	pkgver = 1.99.7
	pkgrel = 1
	url = https://github.com/segin/psymp3
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = ISC
	makedepends = autoconf
	makedepends = automake
	makedepends = autoconf-archive
	makedepends = pkgconf
	depends = sdl2
	depends = taglib
	depends = freetype2
	depends = curl
	depends = openssl
	depends = opus
	depends = libvorbis
	depends = libogg
	depends = dbus
	depends = qt6-base
	options = !lto
	source = psymp3-1.99.7-RELEASE.tar.gz::https://github.com/segin/psymp3/archive/refs/tags/1.99.7-RELEASE.tar.gz
	sha256sums = 9001b3cfe3fb2677560949f0e888e19183c27d6b2e7266fa46056925749fca2f

pkgname = psymp3
